body {
    background-color: #efefef;
}

#board {
    height: 200px;
}

#board .card {
    width: 100px;
}


#controls {
    text-align: center;
}

.card {
    margin: 10px;
    cursor: pointer;
}

.card img {
    width: 80px;
}

#hand p {
    text-align: center;
}

#hand li.card img {
   border: solid 5px #fff;
}

#hand li.card img.selected {
    border: dashed 5px #ccc;
}

#hand .card-container {
    float: left;
    margin: 5px;
}

.message {
    text-align: center;
}

li {
    display: inline;
}
