body {
    background-color: #efefef;
}

#board {
    height: 200px;
}

#controls {
    text-align: center;
}

.card {
    margin: 10px;
    cursor: pointer;
}

.card img {
    width: 80px;
}

#hand p {
    text-align: center;
}

.message {
    text-align: center;
}

li {
    display: inline;
}
